@charset "utf-8"

/*
Theme Name: My Twig Theme
Description: Starter Theme to use with Twig
Author: Upstatement and YOU!
*/

@import './node_modules/nib/lib/nib'
@import "styles/component/vars"
@import "styles/component/mixin"

//リセット
global-reset()
reset-html5()

body
	//共通のヘッダー
	header
		@import 'styles/header'

	//共通のフッター
	footer
		@import 'styles/footer'

	//共通のページャー
	.pager
		@import 'styles/pager'

	//共通のウィジェット
	.widgets
		@import 'styles/widgets'

	//共通のパンくず
	.breadcrumb
		@import 'styles/breadcrumb'

	//共通のコンテンツ
	#contents
		@import 'styles/contents'

	//トップページ
	&.home
		#contents
			@import 'styles/contents/home'

	//固定ページ
	&.page
		#contents
			@import 'styles/contents/page'

	//投稿(post)アーカイブ用
	&.blog
		#contents
			@import 'styles/contents/blog'

	//投稿(post)詳細用
	&.single-post
		#contents
			@import 'styles/contents/single-post'

	//カスタムポストの記事詳細用
	&.single-custom-post
		#contents
			@import 'styles/contents/single-custom-post'

	//カスタムポストのアーカイブ用
	&.post-type-archive-custom-post
		#contents
			@import 'styles/contents/archive-custom-post'


