@import '../../../../node_modules/nib/lib/nib'
@import '../../../../styles/component/vars'
@import '../../../../styles/component/mixin'

global-reset()
reset-html5()

.content
	@import 'editor/content'

